* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.menu li {
  margin: 0 1rem;
}

.hero {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 5em;
  margin: 2rem 0;
}

.footer {
  color: whitesmoke;
  background-color: #ab1414;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}

#input-box {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 50%;
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.recipe-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

#recipeResults {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

#search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-image: url("../../imgs/food-bkgd.jpg");
  background-color: lightskyblue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.about-container h1 {
  color: black;
  font-size: 2.5em;
}

.about-container p {
  width: 50%;
  margin-top: 10px;
  font-size: 1.2em;
  color: black;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

form label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
}

.contact-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
}

.img {
  width: 400px;
  margin: 10px;
}

.about-form {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 8px 20px;
  margin: 20px;
  border-radius: 2px;
  color: white;
  font-size: 1.5rem;
  background-color: #e63946;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(11, 41, 114);
  transition: all 0.3s ease-in-out;
}

#search-btn {
  padding: 8px 20px;
  margin: 20px;
  border-radius: 2px;
  color: white;
  font-size: 1.5rem;
  background-color: #e63946;
  cursor: pointer;
} /*# sourceMappingURL=main.css.map */
