.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-image: url("../../imgs/food-bkgd.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.about-container h1 {
    color: black;
    font-size: 2.5em;
}

.about-container p {
    width: 50%;
    margin-top: 10px;
    font-size: 1.2em;
    color: black;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

.contact-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    margin: 10px;
}